GridView/SampleData/OrdersSampleDataSource/OrdersSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.OrdersSampleDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.OrdersSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dataroot" type="tns:dataroot" />
  <xs:complexType name="dataroot">
    <xs:sequence>
      <xs:element name="OrdersCollection" type="tns:OrdersCollection" />
    </xs:sequence>
    <xs:attribute name="generated" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="OrdersCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Orders" type="tns:Orders" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Orders">
    <xs:attribute name="OrderID" type="xs:double" />
    <xs:attribute name="CustomerID" type="xs:string" />
    <xs:attribute name="EmployeeID" type="xs:double" />
    <xs:attribute name="OrderDate" type="xs:string" />
    <xs:attribute name="RequiredDate" type="xs:string" />
    <xs:attribute name="ShippedDate" type="xs:string" />
    <xs:attribute name="ShipVia" type="xs:double" />
    <xs:attribute name="Freight" type="xs:double" />
    <xs:attribute name="ShipName" type="xs:string" />
    <xs:attribute name="ShipAddress" type="xs:string" />
    <xs:attribute name="ShipCity" type="xs:string" />
    <xs:attribute name="ShipPostalCode" type="xs:string" />
    <xs:attribute name="ShipCountry" type="xs:string" />
    <xs:attribute name="ShipRegion" type="xs:string" />
  </xs:complexType>
</xs:schema>