GridView/SampleData/Order_DetailsSampleDataSource/Order_DetailsSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.Order_DetailsSampleDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.Order_DetailsSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dataroot" type="tns:dataroot" />
  <xs:complexType name="dataroot">
    <xs:sequence>
      <xs:element name="Order_x0020_DetailsCollection" type="tns:Order_x0020_DetailsCollection" />
    </xs:sequence>
    <xs:attribute name="generated" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Order_x0020_DetailsCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Order_x0020_Details" type="tns:Order_x0020_Details" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Order_x0020_Details">
    <xs:attribute name="OrderID" type="xs:double" />
    <xs:attribute name="ProductID" type="xs:double" />
    <xs:attribute name="UnitPrice" type="xs:double" />
    <xs:attribute name="Quantity" type="xs:double" />
    <xs:attribute name="Discount" type="xs:double" />
  </xs:complexType>
</xs:schema>