GridView/SampleData/EmployeesSampleDataSource/EmployeesSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.EmployeesSampleDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.EmployeesSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dataroot" type="tns:dataroot" />
  <xs:complexType name="dataroot">
    <xs:sequence>
      <xs:element name="EmployeesCollection" type="tns:EmployeesCollection" />
    </xs:sequence>
    <xs:attribute name="generated" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="EmployeesCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Employees" type="tns:Employees" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Employees">
    <xs:attribute name="EmployeeID" type="xs:double" />
    <xs:attribute name="LastName" type="xs:string" />
    <xs:attribute name="FirstName" type="xs:string" />
    <xs:attribute name="Title" type="xs:string" />
    <xs:attribute name="TitleOfCourtesy" type="xs:string" />
    <xs:attribute name="BirthDate" type="xs:string" />
    <xs:attribute name="HireDate" type="xs:string" />
    <xs:attribute name="Address" type="xs:string" />
    <xs:attribute name="City" type="xs:string" />
    <xs:attribute name="Region" type="xs:string" />
    <xs:attribute name="PostalCode" type="xs:string" />
    <xs:attribute name="Country" type="xs:string" />
    <xs:attribute name="HomePhone" type="xs:string" />
    <xs:attribute name="Extension" type="xs:double" />
    <xs:attribute name="Photo" type="xs:string" />
    <xs:attribute name="Notes" type="xs:string" />
    <xs:attribute name="ReportsTo" type="xs:double" />
  </xs:complexType>
</xs:schema>