GridView/SampleData/CustomersSampleDataSource/CustomersSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.CustomersSampleDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.CustomersSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dataroot" type="tns:dataroot" />
  <xs:complexType name="dataroot">
    <xs:sequence>
      <xs:element name="CustomersCollection" type="tns:CustomersCollection" />
    </xs:sequence>
    <xs:attribute name="generated" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="CustomersCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Customers" type="tns:Customers" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Customers">
    <xs:attribute name="CustomerID" type="xs:string" />
    <xs:attribute name="CompanyName" type="xs:string" />
    <xs:attribute name="ContactName" type="xs:string" />
    <xs:attribute name="ContactTitle" type="xs:string" />
    <xs:attribute name="Address" type="xs:string" />
    <xs:attribute name="City" type="xs:string" />
    <xs:attribute name="PostalCode" type="xs:string" />
    <xs:attribute name="Country" type="xs:string" />
    <xs:attribute name="Phone" type="xs:string" />
    <xs:attribute name="Fax" type="xs:string" />
    <xs:attribute name="Region" type="xs:string" />
  </xs:complexType>
</xs:schema>